.description {
    position: relative;
    overflow: hidden;
    height: 500px;
}

.description img {
    width: 100%;
}

.description .show-more {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    padding-top: 50px;
    text-align: center;
    background: transparent;
    background: -moz-linear-gradient(top,rgba(255,255,255,0) 0%,rgba(255,255,255,0.91) 50%,#fff 55%);
    background: -webkit-gradient(left top,left bottom,color-stop(0%,rgba(255,255,255,0)),color-stop(50%,rgba(255,255,255,0.91)),color-stop(55%,#fff));
    background: -webkit-linear-gradient(top,rgba(255,255,255,0) 0%,rgba(255,255,255,0.91) 50%,#fff 55%);
    background: -o-linear-gradient(top,rgba(255,255,255,0) 0%,rgba(255,255,255,0.91) 50%,#fff 55%);
    background: -ms-linear-gradient(top,rgba(255,255,255,0) 0%,rgba(255,255,255,0.91) 50%,#fff 55%);
    background: linear-gradient(to bottom,rgba(255,255,255,0) 0%,rgba(255,255,255,0.91) 50%,#fff 55%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff',endColorstr='#ffffff',GradientType=0);
    display: block;
    margin-bottom: 0;
}

.svg-icon svg {
    width: 100%;
    height: 100%;
    vertical-align: text-bottom;
}

.service-column {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding-top: 2rem;
    padding-bottom: 2rem
}

.service-column:first-of-type {
    padding-top: 0
}

.service-column:last-of-type {
    padding-bottom: 0
}

@media(min-width: 992px) {
    .service-column {
        border-right:1px solid #495057;
        text-align: left;
        padding-top: 0;
        padding-bottom: 0
    }

    .service-column:last-of-type {
        border: none
    }
}

.service-icon {
    width: 3rem!important;
    height: 3rem!important;
    margin-right: 1.5rem;
    stroke-width: 2!important
}
